.manage {
  width: 40px;
  height: 40px;
  background-color: blue;
  position: absolute;
  opacity: 0.7;
  border-radius: 50%;
}



#pic {
  left: 200px;
  top: 200px;
  position: absolute;
  user-select: none;
}